/* Default styles */

body {
    background: #ffffff;
  }
  
  .wrapper {
    position: relative;
    height: 1100px;
    width: 1100px;
    margin: 0 auto;
  }

/* Circles basic style */

  .circle {
    position: absolute;
    height: 35%;
    width: 35%;
    background: #ee220c;
    border-radius: 50%;
  }

/* Circles colors and position */

  .circle-green {
    top: 3%;
    left: 3%; 
  }

  .circle-yellow {
    top: 3%;
    right: 3%; 
  }

  .circle-blue {
    bottom: 3%;
    left: 3%; 
  }

  .circle-black {
    bottom: 3%;
    right: 3%;
  }

/* Circles hovers */

  .circle-green:hover {
    z-index: 25;
    background-color: green;
    border-color: green;
  }

  .circle-blue:hover {
    z-index: 25;
    background-color: blue;
    border-color: blue;
  }
 
  .circle-yellow:hover {
    z-index: 25;
    background-color: yellow;
    border-color: yellow;
  }

.circle-black:hover {
    z-index: 25;
    background-color: black;
    border-color: black;
  }

/* Square styles */

  .bottom-square {
    position: absolute;
    top: 20%;
    left:20%;
    z-index: 10;
    height: 60%;
    width: 60%;
    background-color: #00a2ff;
  }

  .top-square {
    position: absolute;
    top: 35%;
    right: 35%;
    z-index: 15;
    height: 30%;
    width: 30%;
    background-color: #f8ba00;
    border-radius: 15%;
  }

/* Square hover */

  .bottom-square:hover {
    background-color: fuchsia;
    border-color: fuchsia;
    z-index: 20;
  }

